.barra_nav {
    list-style-type: none;
    display: flex; /* Hace que los elementos se muestren en línea (horizontalmente) */
    justify-content: space-around; /* Distribuye uniformemente los elementos a lo largo de la barra de navegación */
    margin-top: 30px;
    gap: 15px;
  }

  header{
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
  }

  nav{
    border: 2px solid #e51b23;
    margin-bottom: 20px;
    border-radius: 20px;
  }

  .eslogan {
    margin-bottom: 50px;
    font-style: italic;
    margin-top: 0;
  }

  footer{
    background-color: #e51b23;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .footer_content{
    padding: 10px;
  }
  
  a{
    color: #e51b23;
    text-decoration: none;
    display: inline-block;
  }

  nav a:hover {
    transition: transform 0.3s ease-in-out;
    transform: scale(1.1);
  }

  .titulo_header a:hover{
    color: #e51b23ed;
  }

  .boton_nav{
    padding: 5px;
    margin-bottom: 1%;
  }

  .subtitulo{
    border: 2px solid white;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 1%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color:#e51b23;
  }

  .imagenes{
    display: flex;
    justify-content: space-between; /* Ajusta el espacio entre imágenes */
    gap: 10px; /* Espaciado opcional entre imágenes */
    align-items: center;
  }

  #imagen:hover{
    transition: transform 0.3s ease-in-out;
    transform: scale(1.1);
  }

  .imagen{
      padding: 10px;
      margin-bottom: 20px;
      color: white;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      width: 100%;
      height: auto;
  }

.imagen img {
  width: 100%;
  height: auto;
}

.logo{
  height: 150px; /* ajusta este valor según tus necesidades */
    width: auto; /* mantiene la proporción original */
    margin-bottom: 0;
    border: 2px solid white;
    border-radius: 20px;
}

#vehicle-container img{
  width: 100%;
  height: auto;
}

.acerca_info{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 1%;
}

#formulario{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
}

.formulario_cuerpo{
  padding: 10px;
}

.formulario_cuerpo input[type="submit"] {
  background-color: #e51b23;
  color: white;
  border: 2px solid white;
  padding: 10px;
}

.formulario_datos {
  padding: 30px;
}

.info_imagen{
  background-color: #e51b23;
  padding: 10px;
  border: 2px solid transparent;
  border-bottom-right-radius: 20px;
}

.video_inicio{
  padding: 10px;
}

#mapa {
  text-align: center;
}

#mapa iframe{
  width: 75%;
  height: 300px;
}

#mapa a{
  color: black;
}

#mapa a:hover{
  color: #e51b23;
}

.video_acerca{
  padding: 10px;
}

.video_acerca iframe{
  width: 560px;
  height: 315px;
}

.subtitulo_header{
  border: 2px solid white; /* Grosor y color del borde */
  padding: 10px; /* Añade espacio interno para que el texto no esté pegado al borde */

}

.video_inicio {
  max-width: 100%;
  height: auto;
  width: 100%;
  padding: 0;
}

.titulo_header a{
  padding: 10px;
  color: black;
}

#video_inicio {
  position: relative; /* Establece una posición relativa para el contenedor */
}

.texto_video {
  position: absolute; /* Establece una posición absoluta para el texto */
  top: 50%; /* Alinea el texto en la mitad superior del contenedor */
  left: 50%; /* Centra el texto horizontalmente */
  transform: translate(-50%, -50%); /* Centra el texto correctamente */
  color: white; /* Color del texto */
  background-color: #e51b23;
  font-size: 2rem; /* Tamaño del texto */
  font-family:Verdana, Geneva, Tahoma, sans-serif; /* Tipo de letra del texto */
  text-align: center; /* Alinea el texto al centro */
  font-style:italic;
  padding: 5%;
  width: 70%;
  height: auto;
}

.body{
  padding: 18px;
  font-size: 16px;
}

.preguntas{
  font-style: italic;
}

footer{
  border: 2px solid transparent;
  border-bottom-right-radius: 20px;
  padding: 10px;
}

footer a{
  color: white;
}

hr{
  color: #e51b23;
}


/* Responsive */

@media (max-width: 768px) {
  /* Ajustes para tablets y pantallas medianas */
  .barra_nav {
    flex-direction: column; /* Cambia la disposición a vertical */
    align-items: center; /* Centra los elementos verticales */
    list-style-type: none;
    display: flex; /* Hace que los elementos se muestren en línea (horizontalmente) */
    gap: 15px;
  }

  header{
    font-size: 14px;
  }

  .imagenes {
    flex-direction: column; /* Acomoda las imágenes en una columna */
    gap: 20px; /* Aumenta el espacio entre las imágenes */
  }

  #vehicle-container img{
    width: 100%;
    height: auto;
  }

  #mapa iframe {
    width: 100%; /* Asegura que el mapa se ajuste al ancho del contenedor */
  }

  .texto_video {
    font-size: 200%; /* Reduce el tamaño del texto */
    width: 90%; /* Ajusta el ancho */
  }

  body{
    font-size: 14px;
  }

  .video_acerca{
    padding: 10px;
    width: 100%;
    height: auto;
  }
}

@media (max-width: 480px) {
  /* Ajustes para móviles pequeños */
  .barra_nav {
    flex-direction: column;
    gap: 10px; /* Espaciado entre elementos */
  }

  header{
    font-size: 12px;
  }

  .imagenes img {
    height: auto; /* Asegura que las imágenes mantengan su proporción */
  }

  #vehicle-container img{
    width: 100%;
    height: auto;
  }

  .subtitulo_header {
    font-size: 1rem; /* Reduce el tamaño del texto */
    padding: 5px; /* Ajusta el espacio interno */
  }

  .texto_video {
    font-size: 150%; /* Tamaño de texto más pequeño */
    padding: 5%; /* Reduce los márgenes internos */
  }

  footer {
    font-size: 0.8rem; /* Ajusta el tamaño de la fuente del footer */
    text-align: center;
  }

  body{
    font-size: 12px;
  }

  .video_acerca{
    padding: 10px;
    width: 100%;
    height: auto;
  }
}
