.barra_nav {
    list-style-type: none;
    display: flex; /* Hace que los elementos se muestren en línea (horizontalmente) */
    justify-content: space-around; /* Distribuye uniformemente los elementos a lo largo de la barra de navegación */
    margin-top: 30px;
  }

  header{
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  .eslogan {
    margin-bottom: 50px;
    font-style: italic;
    margin-top: 0;
  }

  footer{
    background-color: #e51b23;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .footer_content{
    padding: 10px;
  }
  
  a{
    color: #e51b23;
    text-decoration: none;
  }

  a:hover {
    color: white;
  }

  .titulo_header a:hover{
    color: #e51b23ed;
  }

  .boton_nav{
    border: 2px solid #e51b23;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 1%;
  }

  .boton_nav:hover{
    color: white;
    background-color: #e51b23;
    border: 2px solid #e51b23;
  }

  .subtitulo{
    border: 2px solid white;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 1%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color:#e51b23;
  }

  .imagenes{
    display: flex;
    justify-content: space-between; /* Ajusta el espacio entre imágenes */
    gap: 10px; /* Espaciado opcional entre imágenes */
    align-items: center;
  }

  #imagen:hover{
    transition: transform 0.3s ease-in-out;
    transform: scale(1.1);
  }

  .imagen{
      padding: 10px;
      margin-bottom: 20px;
      color: white;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      width: 100%;
      height: auto;
  }

.imagen img {
  width: 100%;
  height: 300px;
}

.logo{
  height: 150px; /* ajusta este valor según tus necesidades */
    width: auto; /* mantiene la proporción original */
    margin-bottom: 0;
    border: 2px solid white;
    border-radius: 20px;
}


.acerca_info{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 1%;
}

#formulario{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
}

.formulario_cuerpo{
  padding: 10px;
}

.formulario_cuerpo input[type="submit"] {
  background-color: #e51b23;
  color: white;
  border: 2px solid white;
  padding: 10px;
}

.formulario_datos {
  padding: 30px;
}

.info_imagen{
  background-color: #e51b23;
  padding: 10px;
  border: 2px solid transparent;
  border-bottom-right-radius: 20px;
}

.video_inicio{
  padding: 10px;
}

#mapa {
  text-align: center;
}

#mapa iframe{
  width: 75%;
  height: 300px;
}

#mapa a{
  color: black;
}

#mapa a:hover{
  color: #e51b23;
}

.video_acerca{
  padding: 10px;
}

.subtitulo_header{
  border: 2px solid white; /* Grosor y color del borde */
  padding: 10px; /* Añade espacio interno para que el texto no esté pegado al borde */

}

.video_inicio {
  max-width: 100%;
  height: auto;
  width: 100%;
  padding: 0;
}

.titulo_header a{
  padding: 10px;
  color: black;
}

#video_inicio {
  position: relative; /* Establece una posición relativa para el contenedor */
}

.texto_video {
  position: absolute; /* Establece una posición absoluta para el texto */
  top: 50%; /* Alinea el texto en la mitad superior del contenedor */
  left: 50%; /* Centra el texto horizontalmente */
  transform: translate(-50%, -50%); /* Centra el texto correctamente */
  color: white; /* Color del texto */
  background-color: #e51b23;
  font-size: 400%; /* Tamaño del texto */
  font-family:Verdana, Geneva, Tahoma, sans-serif; /* Tipo de letra del texto */
  text-align: center; /* Alinea el texto al centro */
  font-style:italic;
  padding: 2%;
  width: 70%;
  height: auto;
}

.body{
  padding: 18px;
}

.preguntas{
  font-style: italic;
}

footer{
  border: 2px solid transparent;
  border-bottom-right-radius: 20px;
}

footer a{
  color: white;
}

hr{
  color: #e51b23;
}


/* Responsive */